<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.profilecard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Profile Card</name>
    <description>A simple profile card application.</description>
    <author email="info@example.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
</widget>